h1{
    text-align: right;
    border-bottom: 1px solid #a2a9b1;
}

body{
    font-family: sans-serif;
    display: block;
    margin-right: 50px;
    width: 85%;
}

h2{
    border-bottom: 1px solid grey;
}

a{
    text-decoration: none;
}

#apple{
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.border{
    outline: solid black;
}

.border-space{
    padding: 30px;
    outline: solid black;
}

.bold{
    font-weight: bold;
}