h1{
    text-align: right;
    border-bottom: 1px solid #a2a9b1;
}

body{
    font-family: sans-serif;
    display: block;
    margin-right: 50px;
    width: 85%;
}

h2{
    
    border-bottom: 1px solid #a2a9b1;
}

a{
    text-decoration: none;
}

#apple{
    text-align: left;
}